@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Major Mono Display", monospace;
  font-size: 10px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.title {
  background-color: palevioletred;
  color: white;
  margin: 0 0 2rem;
  padding: 1rem;
  font-size: 2rem;
}

.wrapper {
  padding: 5rem;
}

.time {
  font-size: 5rem;
}

.connector {
  font-size: 2rem;
}

.date {
  font-size: 3rem;
}
